<ion-tabs color="jmvioleta">
  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="homeapp">
      <i class='bx bx-home-alt-2 texto-mediano color-violeta'></i>
      <ion-label class="color-violeta">Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="curses">
      <i class='bx bx-list-plus texto-mediano color-violeta'></i>
      <ion-label class="color-violeta">Cursos</ion-label>
    </ion-tab-button>
    <!--ion-tab-button tab="chatvoice">
      <i class='bx bxs-chat texto-mediano color-violeta'></i>
      <ion-label class="color-violeta">Chat</ion-label>
    </ion-tab-button-->
    <ion-tab-button tab="games">
      <i class='bx bxs-cube-alt texto-mediano color-violeta'></i>
      <ion-label class="color-violeta">juegos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <i class='bx bxs-user-circle texto-mediano color-violeta'></i>
      <ion-label class="color-violeta">Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
