

<ion-content [fullscreen]="true">
  <div class="header-curse">
    <i class='bx bx-left-arrow-alt' routerLink="/tabs/curses" style="margin-left: 16px; font-size: 28px; margin-top: 5px;"></i>
    <h1 class="texto-mediano" style="text-overflow: ellipsis; margin-left: 16px;">Curse Name</h1>
  </div>
  <div class="video-curse">
    <img src="../../assets/images/man-2562325_640.jpg" alt="">
  </div>
  <div class="curse-content ion-padding">
    <h1 class="texto-mediano">Nombre del Curso</h1>
    <p class="texto-pequeño">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab cum recusandae exercitationem?</p>

    <div>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
      Culpa vel eaque consequuntur dolores nulla aliquam esse deleniti 
      ad impedit exercitationem, dignissimos quaerat hic? Natus corporis molestias, 
      necessitatibus dolores nostrum veritatis numquam enim, quidem unde delectus iste labore 
      sunt distinctio sed vel nobis suscipit atque at ipsum culpa. Iusto, vero mollitia!
    </div>
    <div>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
      Culpa vel eaque consequuntur dolores nulla aliquam esse deleniti 
      ad impedit exercitationem, dignissimos quaerat hic? Natus corporis molestias, 
      necessitatibus dolores nostrum veritatis numquam enim, quidem unde delectus iste labore 
      sunt distinctio sed vel nobis suscipit atque at ipsum culpa. Iusto, vero mollitia!
    </div>
    <div>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
      Culpa vel eaque consequuntur dolores nulla aliquam esse deleniti 
      ad impedit exercitationem, dignissimos quaerat hic? Natus corporis molestias, 
      necessitatibus dolores nostrum veritatis numquam enim, quidem unde delectus iste labore 
      sunt distinctio sed vel nobis suscipit atque at ipsum culpa. Iusto, vero mollitia!
    </div>
    <div>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
      Culpa vel eaque consequuntur dolores nulla aliquam esse deleniti 
      ad impedit exercitationem, dignissimos quaerat hic? Natus corporis molestias, 
      necessitatibus dolores nostrum veritatis numquam enim, quidem unde delectus iste labore 
      sunt distinctio sed vel nobis suscipit atque at ipsum culpa. Iusto, vero mollitia!
    </div>
    <div>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
      Culpa vel eaque consequuntur dolores nulla aliquam esse deleniti 
      ad impedit exercitationem, dignissimos quaerat hic? Natus corporis molestias, 
      necessitatibus dolores nostrum veritatis numquam enim, quidem unde delectus iste labore 
      sunt distinctio sed vel nobis suscipit atque at ipsum culpa. Iusto, vero mollitia!
    </div>
    <div>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
      Culpa vel eaque consequuntur dolores nulla aliquam esse deleniti 
      ad impedit exercitationem, dignissimos quaerat hic? Natus corporis molestias, 
      necessitatibus dolores nostrum veritatis numquam enim, quidem unde delectus iste labore 
      sunt distinctio sed vel nobis suscipit atque at ipsum culpa. Iusto, vero mollitia!
    </div>
    <div>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
      Culpa vel eaque consequuntur dolores nulla aliquam esse deleniti 
      ad impedit exercitationem, dignissimos quaerat hic? Natus corporis molestias, 
      necessitatibus dolores nostrum veritatis numquam enim, quidem unde delectus iste labore 
      sunt distinctio sed vel nobis suscipit atque at ipsum culpa. Iusto, vero mollitia!
    </div>
    <div>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
      Culpa vel eaque consequuntur dolores nulla aliquam esse deleniti 
      ad impedit exercitationem, dignissimos quaerat hic? Natus corporis molestias, 
      necessitatibus dolores nostrum veritatis numquam enim, quidem unde delectus iste labore 
      sunt distinctio sed vel nobis suscipit atque at ipsum culpa. Iusto, vero mollitia!
    </div>
    <div>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
      Culpa vel eaque consequuntur dolores nulla aliquam esse deleniti 
      ad impedit exercitationem, dignissimos quaerat hic? Natus corporis molestias, 
      necessitatibus dolores nostrum veritatis numquam enim, quidem unde delectus iste labore 
      sunt distinctio sed vel nobis suscipit atque at ipsum culpa. Iusto, vero mollitia!
    </div>
  </div>
</ion-content>
