
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="separador"></div>
  <div class="main-logo">
    <img src="../../assets/icon/wisdomlogo.jpg" alt="">
  </div>
  <h1 class="ion-text-center texto-grande">
    Wisdom JM
  </h1>

  <div class="separador"></div>

  <h3 class="ion-text-center texto-mediano">
    La Aplicacion que te ayuda a aprender en linea.
  </h3>

  <div class="separador"></div>
  <ion-button expand="block" color="jmvioleta" [routerLink]="['/login']">Continuar</ion-button>
</ion-content>
